<div class="">
  <app-subsection
    [index]="index"
    [subsectionTitle]="project.title"
  ></app-subsection>

  <div class="flex flex-col md:flex-row gap-4 md:gap-10 pt-4">
    <div #carouselAnchor style="height: 1px"></div>

    <!-- images -->
    <div class="md:w-1/2">
      @if (showCarousel) {
        @if ((project.videos?.length ?? 0) > 0) {
          <!-- videos array is non-empty -->
          <app-photo-video-carousel
            [photos]="project.images"
            [videos]="project.videos"
            [enableLightbox]="true"
            >
          </app-photo-video-carousel>
        } @else {
          <!-- videos array is empty -->
          <app-photo-video-carousel
            [photos]="project.images"
            [enableLightbox]="true"
            >
          </app-photo-video-carousel>
        }
      }
    </div>

    <!-- content -->
    <div class="md:w-1/2 flex flex-col">
      <div class="flex justify-between pb-4">
        <div class="flex gap-4">
          @for (tech of project.tech; track tech) {
            <span>{{ tech }} </span>
          }
        </div>

        <span class="text-secondary-deep-orange"> {{ project.date }} </span>
      </div>

      <p class="text-secondary-dark-grey tracking-tight">
        {{ project.description }}
      </p>

      <div class="ml-auto mt-auto flex gap-2">
        @if (project.github) {
          <app-redirect-button
            class="ml-auto inline-flex pt-4"
            [href]="project.github"
            icon="github"
            label="code"
            size="w-5 h-5"
            [external]="true"
          ></app-redirect-button>
        }
        @if (project.url) {
          <app-redirect-button
            class="ml-auto inline-flex pt-4"
            [href]="project.url"
            icon="external-link"
            label="see in action"
            [external]="true"
          ></app-redirect-button>
        }
      </div>
    </div>
  </div>
</div>
